.testimonial .container{

    background-image: url('../../../images/quote.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 200px;
}
.testimonials .card{
    border-color: transparent;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}