.contact{
    background-image: url('../../../images/appointmentBg.png');
    position: relative;
    z-index: 1;
}

.contact ::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(12 15 17);
    opacity: .9;
    z-index: -1;
}